# (from: https://github.com/kapralVV/Unique/blob/376ff6d3df537232948d74ff5786d5a8c5096ea1/.travis.yml)
dist: trusty
sudo: false
os: linux

language: haskell
cache:
  directories:
    - .cabal-sandbox

matrix:
  include:
  - ghc: "8.2"
    env: CACHE_NAME=CACHE8.2

  - ghc: "8.0"
    env: CACHE_NAME=CACHE8.0

  - ghc: "7.10"
    env: CACHE_NAME=CACHE7.10

  - ghc: "7.8"
    env: CACHE_NAME=CACHE7.8

  - ghc: "7.6"
    env: CACHE_NAME=CACHE7.6

install : 
  - cabal sandbox init
  - cabal install happy  
  - cabal install --only-dependencies --enable-tests --disable-documentation
script: 
  - cabal configure --enable-tests
  - cabal test --show-details=always
